{% include "css.html" %}

<!DOCTYPE html>
<html lang="en">
	
	{% block css %}

	{% endblock %}

	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<h5 class="card-title text-center">Add in {{table}}</h5>
							<form action="{{ url_for('add_confirm') }}" method="post">
								{% for col in columns %}
									<div div class="row">
										<div div class="col">
											{%if col == 'price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Acre'%}
												<p>Area (in Acres)</p>
											{%elif col == 'Area_allocated'%}
												<p>{{col}} (in Acres)</p>
											{%elif col == 'Quantity'%}
												<p>{{col}} (in Kg)</p>
											{%elif col == 'Seed_price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Pesticide_price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Fertilizer_price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Salary'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Capacity'%}
												<p>{{col}} (in sq ft)</p>
											{%elif col == 'Selling_price'%}
												<p>{{col}} (in ₹)</p>
											{%else%}
												<p>{{col}}</p>
											{%endif%}
											<input required type="text"  class="form-control" name="{{ col }}">
										</div>
									</div><br>
								{% endfor %}
								<hr class="my-4">
								<div class="d-flex justify-content-between align-items-baseline" style="gap: 10px;">
									<div class="text-center" style="width: 50%;">
										<a href="{{table}}" class="btn button" style="width: 100%; background-color: #266040">Cancel</a>
									</div>
									<div class="text-center" style="width: 50%;">
										<button type="submit" class="btn button" style="width: 100%; background-color: #266040" name='{{ table }}'>Confirm Add</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>