{% include "css.html" %}

<!DOCTYPE html>
<html lang="en">
	
	{% block css %}

	{% endblock %}

    <body>
        <div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<h5 class="card-title text-center">Update in {{table}}</h5>
							<form action="{{ url_for('update_confirm') }}" method="post">
								{% for col, value in info.items() %}
									<div div class="row">
										<div div class="col">
											{%if col == 'price'%}
											<p>{{col}} (in ₹)</p>
											{%elif col == 'Acre'%}
												<p>Area (in Acres)</p>
											{%elif col == 'Area_allocated'%}
												<p>{{col}} (in Acres)</p>
											{%elif col == 'Quantity'%}
												<p>{{col}} (in Kg)</p>
											{%elif col == 'Seed_price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Pesticide_price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Fertilizer_price'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Salary'%}
												<p>{{col}} (in ₹)</p>
											{%elif col == 'Capacity'%}
												<p>{{col}} (in sq ft)</p>
											{%elif col == 'Selling_price'%}
												<p>{{col}} (in ₹)</p>
											{%else%}
												<p>{{col}}</p>
											{%endif%}
                                            <input required type="text" class="form-control" name="{{ col }}" value="{{ value }}" placeholder="{{ value }}" >
										</div>
									</div><br>
								{% endfor %}
								<hr class="my-4">
								<div class="text-center">
									<button type="submit" class="btn button" name="{{ table+'+'+column }}" value="{{ id }}">Confirm Update</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>